.accordion {
  width: 500px;
  margin: 0 auto;
  /* padding: 10px 10px 10px 10px; */
}
.accordion-trigger {
  margin: 0;
  padding: 10px;
  display: block;
  background: #333;
  color: #fff;
  border-top: 1px solid #fff;
}
.accordion-contents {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
}
.Set2 {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
